/* label color */
   .input-field label {
     color: #ff0080;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #e9353a;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #400040;
     box-shadow: 0 1px 0 0 #8080ff;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #0000ff;
     box-shadow: 0 1px 0 0 #8000ff;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #00ffff;
     box-shadow: 0 1px 0 0 #ffff00;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #ff8000;
   }